.registro__container {
    display: flex;
    flex-direction: column;
    margin: 5rem 0 0 12rem;
    gap: 1.2rem;
    align-items: start;
    width: 330px;
}

.registro__intro {
    margin-bottom: 2rem;
}

.registro__titulo {
    font-family: var(--fonte-big-shoulders);
    font-size: 3.7rem;
}

.registro__subtitulo {
    font-family: var(--fonte-poppins);
    color: var(--cor-verde-claro);
    font-weight: 200;
    font-size: 1.5rem;
}

.registro__background {
    width: auto;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.registro__botao {
    width: 330px;
    background-color: var(--cor-verde-claro);
    color: var(--cor-fundo);
    font-family: var(--fonte-poppins);
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px 45px 10px 45px;
    margin-top: 1rem;
}

.registro__botao:hover {
    cursor: pointer;
    background-color: #EEFFD9;
}

.registro__tipografia {
    font-family: var(--fonte-segoe-ui);
    font-weight: 200;
    font-size: 1rem;
    align-self: center;
}

.registro__link {
    color: var(--cor-verde-claro);
}