.jogo {
    display: flex;
    flex-direction: column;
}

.jogo__background {
    position: absolute;
    top: 8.2rem;
    width: 100%;
    height: 100%;
    max-width: 80vw;
    overflow: hidden;
    align-self: center;
    z-index: -1;
}

.jogo__background::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(19, 23, 30, 0.1) 30%, rgba(19, 23, 30, 1) 65%),
                linear-gradient(to left, rgba(19, 23, 30, 0.1) 80%, rgba(19, 23, 30, 1) 90%),
                linear-gradient(to right, rgba(19, 23, 30, 0.1) 80%, rgba(19, 23, 30, 1) 90%);
}

.jogo__background__imagem {
    width: 80vw;
    height: 700px;
    object-fit: cover;
}

.jogo__sobre {
    display: flex;
    flex-direction: row;
    padding: 500px 350px 0px 350px;
    gap: 2rem;
}

.jogo__sobre__capa__imagem {
    height: 473px;
    width: 285px;
    object-fit: cover;
}

.jogo__sobre__info {
    display: flex;
    flex-direction: column;
    margin-right: 10rem;
}

.jogo__sobre__info__nome {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 0.7rem;
}

.jogo__sobre__info__nome__titulo {
    color: white;
    font-family: var(--fonte-big-shoulders);
    font-size: 3rem;
    font-weight: 800;
}

.jogo__sobre__info__nome__ano {
    color: #A9A9A9;
    font-family: var(--fonte-lemon-milk-light);
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}

.jogo__sobre__info__empresa {
    color: #5F5F5F;
    font-family: var(--fonte-segoe-ui);
    font-size: 1.5rem;
    font-weight: 600;
}

.jogo__sobre__info__descricao {
    color: #A9A9A9;
    font-family: var(--fonte-poppins);
    font-size: 1.5rem;
    margin-top: 50px;
}

.jogo__sobre__avaliacoes {
    display: flex;
    flex-direction: column;
}

.jogo__sobre__avaliacoes__nota {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.jogo__sobre__avaliacoes__nota__tipografia {
    color: white;
    font-family: var(--fonte-kdam);
    font-size: 2rem;
}

.jogo__sobre__avaliacoes__nota__estrela {
    color: var(--cor-verde);
    font-size: 2rem;
}

.jogo__sobre__avaliacoes__quantidade {
    color: white;
    font-family: var(--fonte-poppins);
    font-weight: 200;
    font-size: 1rem;
}

.jogo__sobre__avaliacoes__botao__avaliar {
    background-color: var(--cor-verde-claro);
    color: var(--cor-fundo);
    font-family: var(--fonte-poppins);
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 15px;
    padding: 5px 25px 5px 25px;
    margin-top: 10px;
}

.jogo__sobre__avaliacoes__botao__avaliar:hover {
    cursor: pointer;
    background-color: #EEFFD9;
}

.jogo__avaliacoes {
    display: flex;
    flex-direction: column;
    margin: 100px 350px 0 350px;
    gap: 20px;
}

.jogo__avaliacoes__tipografias {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.jogo__avaliacoes__tipografia__recentes {
    font-family: var(--fonte-poppins);
    font-size: 1.5rem;
    color: white;
}

.jogo__avaliacoes__tipografia__ver__mais {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: white;
    font-family: var(--fonte-poppins);
    font-size: 1.5rem;
    text-decoration: underline;
    cursor: pointer;
}

.jogo__avaliacoes__cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.jogo__trailer {
    align-self: center;
    margin: 10rem 0;
}