.inicio {
    display: flex;
    flex-direction: column;
}

.inicio__background {
    width: 1440px;
    height: 810px;
    position: absolute;
    top: 0;
    align-self: center;
    z-index: -1;
}

.inicio__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35rem;
    height: 2000px;
}

.inicio__intro__tipografia {
    font-family: var(--fonte-kdam);
    font-size: 2.5rem;
    color: white;
}

.inicio__intro__botao {
    margin-top: 20px;
    background-color: var(--cor-verde-claro);
    color: var(--cor-fundo);
    font-family: var(--fonte-poppins);
    font-size: 2rem;
    font-weight: bold;
    border-radius: 15px;
    padding: 20px 85px 20px 85px;
}

.inicio__intro__botao:hover {
    cursor: pointer;
}