.container {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__imagem {
    height: 473px;
    width: 285px;
    object-fit: cover;
    border-radius: 10px;
}

.card__imagem:hover {
    outline: 5px solid var(--cor-verde-claro);
}

.card__tipografias {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.card__titulo {
    font-family: var(--fonte-poppins);
    font-size: 18px;
    font-weight: 500;
}

.card__nota {
    display: flex;
    font-size: 18px;
    gap: 5px;
}

.card__nota__numero {
    font-family: var(--fonte-kdam);
}

.card__nota__estrela {
    margin-top: 2px;
    color: var(--cor-verde-claro);
}