.footer {
    display: flex;
    flex-direction: column;
    bottom: 0;
    align-items: center;
    width: 100vw;
}

.footer__logo {
    width: 298px;
    height: 132px;
}

.footer__tipografia {
    font-family: var(--fonte-poppins);
    font-size: 1.2rem;
}

.footer__redes {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 20px;
}

.footer__data {
    font-family: var(--fonte-poppins);
    font-size: 15px;
    padding: 20px;
}