.pesquisa {
    justify-self: center;
    position: relative;
    width: 30vw;
}

.pesquisa__icone {
    position: absolute;
    left: 15px;
    top: 20%;
    color: #757575;
    font-size: 1.3rem;
}

.pesquisa__input {
    width: 100%;
    padding: 12px 12px 12px 50px;
    border: none;
    border-radius: 25px;
    outline: none;
    background-color: #D4D4D4;
}

.pesquisa__input::placeholder {
    font-family: var(--fonte-inter);
    color: #757575;
    font-size: 1rem;
}

@media (max-width: 1024px) {
    .pesquisa {
        width: 50vw;
    }
}

@media (max-width: 768px) {
    .pesquisa {
        width: 50vw;
    }
}